# Add Rows to Flower Detail Table
Edit the "set" cells to update the variables, then click "Run All"
in the top left-corner.

In [ ]:
set rdc = 'S';

In [ ]:
set fn = 'Lilac';

In [ ]:
select $fn, $rdc;

In [ ]:
insert into garden_plants.flowers.flower_details
select 'Petunia','M';

insert into garden_plants.flowers.flower_details
select $fn, $rdc;

In [ ]:
select * from garden_plants.flowers.flower_details;

In [ ]:
INSERT INTO garden_plants.flowers.flower_details (PLANT_NAME, ROOT_DEPTH_CODE) 
VALUES ('Sunflower', 'D'),
('Lavender', 'S'),
('Tulip', 'M');

In [ ]:
create or replace TABLE GARDEN_PLANTS.FRUITS.FRUIT_DETAILS (
	PLANT_NAME VARCHAR(25),
	ROOT_DEPTH_CODE VARCHAR(1)
);

In [ ]:
--Set your worksheet drop list role to ACCOUNTADMIN
--Set your worksheet drop list database and schema to the location of your GRADER function
use database UTIL_DB;
use schema PUBLIC;
use role ACCOUNTADMIN;
-- DO NOT EDIT ANYTHING BELOW THIS LINE. THE CODE MUST BE RUN EXACTLY AS IT IS WRITTEN
select GRADER(step, (actual = expected), actual, expected, description) as graded_results from ( 
   SELECT 'DWW08' as step 
   ,( select iff(count(*)=0, 0, count(*)/count(*))
      from table(information_schema.query_history())
      where query_text like 'execute notebook%Uncle Yer%') as actual 
   , 1 as expected 
   , 'Notebook success!' as description 
);

In [ ]:
use database UTIL_DB;
use schema PUBLIC;
use role ACCOUNTADMIN;
select GRADER(step, (actual = expected), actual, expected, description) as graded_results from ( SELECT 'DWW08' as step ,( select iff(count(*)=0, 0, count(*)/count(*)) from table(information_schema.query_history()) where query_text like 'execute notebook%Uncle Yer%') as actual , 1 as expected , 'Notebook success!' as description );